.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 6rem;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 24px;
  margin-bottom: 2rem;
  padding: 24px 0;
  border-bottom: 0.5px solid rgb(var(--foreground-color));
  transition: background-color 0.3s ease;
}
.container:hover {
  background-color: rgb(var(--foreground-color-secondary), 0.3);
}

.image {
  width: 100%;
  height: unset;
}

.title {
  font-size: 1.8rem;
  color: rgb(var(--foreground-color-secondary));
  margin-bottom: 8px;
}
