code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 4;
  -webkit-hyphens: none;
  hyphens: none;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #999;
}

.token.punctuation {
  color: #c5c8c6;
}

.namespace {
  opacity: 0.7;
}

.token.keyword,
.token.property,
.token.tag {
  color: #96cbfe;
}

.token.class-name {
  color: #ffffb6;
}

.token.boolean,
.token.constant {
  color: #9c9;
}

.token.deleted,
.token.symbol {
  color: #f92672;
}

.token.number {
  color: #ff73fd;
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: #a8ff60;
}

.token.variable {
  color: #c6c5fe;
}

.token.operator {
  color: #ededed;
}

.token.entity {
  color: #ffffb6;
  cursor: help;
}

.token.url {
  color: #96cbfe;
}

.language-css .token.string,
.style .token.string {
  color: #87c38a;
}

.token.atrule,
.token.attr-value {
  color: #f9ee98;
}

.token.function {
  color: #dad085;
}

.token.regex {
  color: #e9c062;
}

.token.important {
  color: #fd971f;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.docs h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.35;
  margin-top: 0.75rem;
  word-break: break-word;
}

.docs h2 {
  font-size: 2rem;
  line-height: 1.5;
}

.docs h3 {
  font-size: 1.5rem;
  line-height: 1.6;
}

.docs h4 {
  font-size: 1.2rem;
}

.docs h5 {
  font-size: 1rem;
}

.docs .heading {
  margin: 3.5rem 0 2rem 0;
  font-weight: 600;
}

.docs .heading > span[id] {
  display: block;
  position: absolute;
  visibility: hidden;
  margin-top: -128px;
  padding-top: 128px;
}

.docs .heading > a {
  color: inherit;
}

.docs .heading > a:hover {
  color: inherit;
  border-bottom: 1px dotted;
}

.docs .heading > a:hover ~ .permalink {
  visibility: visible;
}

.docs .heading > .permalink {
  visibility: hidden;
  display: none;
}

@media (min-width: 992px) {
  .docs .heading > a {
    margin-right: 0.5rem;
  }

  .docs .heading > .permalink {
    display: inline-block;
  }
}

.docs p {
  margin: 1.25rem 0;
}

.docs code.inline {
  font-size: 0.9em;
  --vertical-spacing: 1px;
  color: var(--geist-foreground);
  font-family: var(--font-mono);
  white-space: pre-wrap;
  word-break: break-word;
  padding: var(--vertical-spacing) 2px;
  margin: -webkit-calc(-1 * var(--vertical-spacing)) 0;
  margin: -moz-calc(-1 * var(--vertical-spacing)) 0;
  margin: calc(-1 * var(--vertical-spacing)) 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: var(--accents-1);
  border: 1px solid var(--accents-2);
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.docs td > code.inline {
  word-break: normal;
}

.docs pre {
  background: #1d1f21;
  color: #f8f8f2;
  white-space: pre;
  overflow: auto;
  padding: 1.5rem;
  margin: 1.5rem 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-overflow-scrolling: touch;
}

.docs pre > code {
  font-size: 14px;
  line-height: 20px;
}

.docs a.absolute > code.inline {
  color: #0074de;
}

.docs a.absolute:hover > code.inline {
  color: #68b5fb;
}

.docs a.relative {
  color: inherit;
  font-size: inherit;
  border-bottom: 1px dotted;
}

.docs a.relative:hover {
  color: gray;
  text-decoration: none;
}

.docs a.relative:hover > code.inline {
  color: gray;
}

.docs details {
  margin: 1.5rem 0;
  padding: 0.5rem 1rem;
  background: #fafafa;
  border: 1px solid#eaeaea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.docs details[open] {
  overflow: hidden;
}

.docs details > summary {
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

.docs blockquote {
  color: #666;
  background: #fafafa;
  border: 1px solid#eaeaea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 1.25rem;
  margin: 1.5rem 0;
}

.docs .card {
  margin: 1.5rem 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid#eaeaea;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
}

.docs .card:hover {
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.docs .card > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  color: #666;
  padding: 1.5rem;
  border: none;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.docs .card > a:hover {
  color: #111;
}

.docs .card > a > h4 {
  font-size: 1rem;
  font-weight: 600;
  color: #111;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.docs .card > a > small {
  font-size: 0.875rem;
  color: inherit;
}

.docs hr {
  border: 0;
  border-top: 1px solid#eaeaea;
  margin: 1.25rem 0;
}

.docs ul,
.docs ol {
  padding-left: 1.5rem;
  margin: 1.25rem 0;
}

.docs ul {
  list-style-type: none;
}

.docs li {
  margin-bottom: 0.625rem;
}

.docs ul li:before {
  content: "-";
  color: #999;
  position: absolute;
  margin-left: -1rem;
}

.docs table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 600px;
}

.docs table > thead {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.docs table > thead > tr {
  height: 40px;
}

.docs table > thead > tr > th {
  background: #fafafa;
  position: relative;
  padding: 0 12px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid#eaeaea;
  border-bottom: 1px solid#eaeaea;
}

.docs table > thead > tr > th:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  border-left: 1px solid#eaeaea;
}

.docs table > thead > tr > th:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  border-right: 1px solid#eaeaea;
}

.docs table > tbody > tr {
  height: 48px;
}

.docs table > tbody > tr > td {
  padding: 8px 12px;
  vertical-align: middle;
  color: #444;
}

.docs table > tbody > tr:not(:last-of-type) td {
  border-bottom: 1px solid#eaeaea;
}

.docs img {
  width: 100%;
  background: #fafafa;
  border: 1px solid#eaeaea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
