@import "prism";

:root {
  /* Dimensions */
  --max-width: 1100px;
  --border-radius: 12px;
  --header-height: 70px;
  --app-width: 1280px;

  /* Colors */
  --background-color: 245, 222, 179;
  --foreground-color: 0, 0, 0;
  --foreground-color-secondary: 128, 0, 128;
  --foreground-color-third: 245, 222, 179;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

body {
  color: rgb(var(--foreground-color));
  background: rgb(var(--background-color));
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
