.header {
  width: 100%;
  padding: 0 20px;
  position: fixed;
  top: 0;
  height: var(--header-height);
  border-bottom: 1px solid rgb(var(--foreground-color));
  background-color: rgb(var(--background-color));
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.left {
  width: 33.3%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.middle {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 33.3%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hamburger {
  visibility: hidden;
  font-size: 1.6rem;
  transition: color 0.3s ease;
}

.sun_btn {
  font-size: 1.6rem;
  transition: color 0.3s ease;
  background-color: unset;
}
.sun_btn:hover {
  cursor: pointer;
}

.sun_icon {
  font-size: 1.6rem;
  transition: color 0.3s ease;
  margin-right: 5px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
.link {
  margin-right: 24px;
  transition: color 0.3s ease;
}
.activelink {
  color: rgb(var(--foreground-color-secondary));
}

.right_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timezone {
  margin-left: 4px;
  font-size: 0.8rem;
  margin-bottom: 7px;
}

@media only screen and (max-width: 600px) {
  .header {
    justify-content: flex-end;
  }
  .links {
    display: none;
  }
  .hamburger {
    visibility: visible;
  }
  .hamburger:hover {
    cursor: pointer;
    color: rgb(var(--foreground-color-secondary));
  }
}
