.main {
  max-width: var(--app-width);
  margin: 0 auto;
  padding-top: calc(20px + var(--header-height));
  padding-left: 20px;
  padding-right: 20px;
  min-height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.select_label {
  margin-top: 0;
  margin-right: 5px;
}
.select {
  outline: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: start;
  grid-gap: 24px;
  margin-bottom: 2rem;
  padding: 24px 0;
  border-bottom: 0.5px solid rgb(var(--foreground-color));
  transition: background-color 0.3s ease;
}

.left {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
}

.image_container {
  width: 100%;
  height: 200px;
}
.image {
  width: auto;
  height: 100%;
}

.title {
  font-size: 1.8rem;
  color: rgb(var(--foreground-color-secondary));
}

.type {
  margin: 8px 0 16px 0;
}

@media only screen and (max-width: 768px) and (min-width: 0px) {
  .main {
    padding: 0rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .image {
    height: 100%;
    object-fit: contain;
  }
  .left {
    align-items: flex-start;
    text-align: start;
  }
}
