.main {
  width: 100%;
  padding: 0 20px;
  height: var(--header-height);
  border-top: 1px solid rgb(var(--foreground-color));
  background-color: rgb(var(--background-color));
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--app-width);
  margin: 0 auto;
}

.item {
  margin-right: 24px;
}
