.main {
  max-width: var(--app-width);
  margin: 0 auto;
  padding-top: calc(20px + var(--header-height));
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  min-height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.row {
  width: 100%;
  padding: 40px 0;
  margin: 0 40px;
  border-bottom: 0.5px solid rgb(var(--foreground-color));
}
.row:hover {
  cursor: pointer;
}

.title_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.title {
  color: rgb(var(--foreground-color-secondary));
}
